/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons";

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
