/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

:root {
  --green-m: #00ff41;
  --border-r: 3.6rem;
}

$green-m: #00ff41;
$primary: #0d6efd;
$secondary: #6c757d;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$theme-colors: (
        "success": $green-m,
        "primary": $primary,
        "secondary": $secondary,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark,
);

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.modal-content {
  border: 1px solid var(--green-m);
}

.modal-header {
  background-color: black;
  color: var(--green-m);
  border-bottom-color: var(--green-m);

  .close {
    background-color: transparent;
    border: 0;
    color: var(--green-m);

    &:focus-visible {
      outline: 0 !important;
    }
  }
}

.modal-body {
  background-color: black;
  color: var(--green-m);
  border-bottom-left-radius: var(--bs-modal-border-radius);
  border-bottom-right-radius: var(--bs-modal-border-radius);

  .search.input-group {
    border: 0;

    .input-group-text {
      background-color: #565151;
      border: 0;

      &.disabled {
        background-color: #565151;
      }
    }

    .form-control {
      background-color: #565151;
      border: 0;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .data-container {
    max-height: 400px;
    overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: #565151 #f1f1f1;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background: #565151;
      border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    .rounded-circle {
      border: 1px solid var(--green-m);
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #565151;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}